<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Whatsapp Clone" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-gray-100 h-screen flex flex-col" data-controller="unread">
    <%= render 'layouts/header' %>
    
    <main class="flex flex-1 overflow-hidden">
      <% if authenticated? %>
      <aside class="w-1/4 bg-white p-4 border-0 shadow-md">
        <h3 class="font-semibold mb-2">Groups</h3>
        <% if Current.user.groups.present? %>
        <ul class="mb-4">
          <% Current.user.groups.each do |group| %>
            <li class="bg-gray-100 hover:bg-gray-400 hover:underline p-2 rounded-md" tabindex="0"><%= link_to group.name, root_path(group_id: group) %></li>
          <% end %>
        </ul>
        <% end %>
        <%= render 'groups/form' %>

        <h3 class="font-semibold mt-4 mb-2">Friendships</h3>
        <%=turbo_stream_from Current.user, "friendships" %>
        <div id="friendships" class="text-gray-700">
          <%= render partial: 'friendships/friendship', locals: {user: Current.user} %>
        </div>
      </aside>
      <% end %>
      <section class="flex-1 p-4 flex flex-col">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
